* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Roboto", sans-serif;
  color: var(--colorWhite);
}

:root {
  --colorGrayDark: #212121;
  --colorGraylight: #414141;
  --colorBlack: #000000;
  --colorWhite: #ffffff;
}

/*configuração gerais*/
#header,
#footer {
  background-color: var(--colorBlack);
}
#nav,
#main {
  background-color: var(--colorGrayDark);
}
a {
  text-decoration: none;
  color: var(--colorWhite);
}

/*Estilizações do Header*/
#logoImg {
  height: 70px;
}
#busca {
  background: var(--colorGraylight);
  border: 2px solid var(--colorGraylight);
}

/*Configuração do banner*/
#bannerImg {
  width: 100%;
  height: 50vh;
}

/*Estilização do nav*/
.categoriasImg {
  width: 100px;
  height: 100px;
}
.categoriasImg:hover {
  transform: translateY(-10px);
  transition: 0.5s;
}
.categoriasLi {
  background: var(--colorGraylight);
}
.categoriasLi:hover {
  background: var(--colorWhite);
  transition: 0.3s;
}
