* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Roboto", sans-serif;
  color: var(--colorWhite);
}

:root {
  --colorGrayDark: #212121;
  --colorGraylight: #414141;
  --colorBlack: #000000;
  --colorWhite: #ffffff;
  --colorBlue: #0d6efd;
}

/*configuração gerais*/
#header,
#footer,
#mainForm,
#fundoLogin {
  background-color: var(--colorBlack);
}
#nav,
#main,
#mainProdutos,
#formularioLogin {
  background-color: var(--colorGrayDark);
}
#inputEmail,
#inputSenha,
#inputNome,
#inputEndereco,
#inputTelefone,
#inputRg,
#inputCpf,
#mainCarrinho {
  background-color: var(--colorGraylight);
  border: 2px solid var(--colorGraylight);
  color: var(--colorWhite);
}
a {
  text-decoration: none;
  color: var(--colorWhite);
}
.btnLoginCad {
  background: var(--colorGraylight);
  border: 2px solid var(--colorGraylight);
  color: var(--colorWhite);
}

.btnLoginCad:hover {
  background: var(--colorWhite);
  border: 2px solid var(--colorGrayDark);
  color: var(--colorGrayDark);
  border-radius: 50px;
  transition: 1s;
}

/*Estilizações do Header*/
#logoImg {
  height: 70px;
}
#busca {
  background: var(--colorGraylight);
  border: 2px solid var(--colorGraylight);
}
#botaoLogar:hover,
#botaoCadastrar:hover {
  color: var(--colorBlue);
}

/*Configuração do banner*/
#bannerImg {
  width: 100%;
  height: 50vh;
}

/*Estilização do nav*/
.categoriasImg {
  width: 100px;
  height: 100px;
}
.categoriasImg:hover {
  transform: translateY(-10px);
  transition: 0.5s;
}
.categoriasLi {
  background: var(--colorGraylight);
}
.categoriasLi:hover {
  background: var(--colorBlue);
  transition: 0.3s;
}

/*Estilização login*/
#formularioLogin {
  border: 2px solid var(--colorGraylight);
  box-shadow: -4px 5px 5px rgba(58, 57, 57, 0.151);
}
.linksLogin:hover {
  text-decoration: underline;
  color: var(--colorBlack);
  transition: 0.2s;
}
#inputEmail::placeholder,
#inputSenha::placeholder {
  color: var(--colorGrayDark);
}

/*Estilização dos cards*/
.card {
  background-color: var(--colorGraylight);
  color: var(--colorBlack);
  border: 1px solid var(--colorBlack);
  width: 350px;
  box-shadow: -4px 5px 5px rgba(0, 0, 0, 0.274);
}
.card-body {
  width: 350px;
  height: 200px;
}
.card-img-top {
  height: 200px;
}

@media screen and (min-width: 600px) {
  #busca {
    width: 100% !important;
  }
}
