:root {
  --background-color: #000000;
  --colorGraylight: #414141;
  --colorBlack: #000000;
  --colorWhite: #ffffff;
}

header {
  background-color: var(--background-color);
}

#BarraBusca {
  background-color: #212121;
}

img {
  width: 75px;
  height: 75px;
}

#mainProdutos,
main,
#mainCarrossel,
.catFundo {
  background-color: #212121;
}
#navCategorias,
#main {
  background-color: var(--background-color);
}

.catFundo {
  border: 2px solid #212121;
  background: #3d3d3d;
}

.imgCategoria {
  border-bottom-left-radius: 100%;
  border-bottom-right-radius: 100%;
  height: 100px;
  width: 100px;
}
.imgCategoria:hover {
  transform: translate(0px, -10px);
  transition: 0.5s;
}
#carousel,
.carousel-inner,
.carousel-item > img {
  height: 50vh;
  width: 70vw;
}
