* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Roboto", sans-serif;
  color: var(--colorWhite);
}

:root {
  --colorGrayDark: #212121;
  --colorGraylight: #414141;
  --colorBlack: #000000;
  --colorWhite: #ffffff;
  --colorBlue: #0d6efd;
}

/*configuração gerais*/
#footer,
.headerFundo {
  background-color: var(--colorBlack);
}
#nav,
#main,
#mainProdutos,
#mainForm,
#mainCadProd,
#headerCadastro,
#fundoLogin,
.inputsAll,
.fundoGeral {
  background-color: var(--colorGrayDark);
}
.inputsAll:focus {
  background-color: var(--colorGrayDark);
  color: var(--colorBlue);
}
#mainCarrinho,
#formularioLogin,
#formularioCadastro,
#formularioCadastroProduto,
.dropdown {
  background-color: var(--colorGraylight);
  border: 2px solid var(--colorGraylight);
  color: var(--colorWhite);
}
a {
  text-decoration: none;
  color: var(--colorWhite);
}
#formularioLogin,
#formularioCadastro,
#formularioCadastroProduto {
  border: 2px solid var(--colorGrayDark);
  box-shadow: -4px 5px 5px rgba(0, 0, 0, 0.13);
}

/*Estilizações do Header*/
#logoImg {
  height: 70px;
}
#busca {
  background: var(--colorGraylight);
  border: 2px solid var(--colorGraylight);
}
.btnGeral:hover {
  color: var(--colorBlack);
  background-image: linear-gradient(
    to right,
    var(--colorBlue),
    var(--colorWhite)
  );
  font-weight: bold;
  transition: 0.9s;
  border: none;
}

/*Configuração do banner*/
#bannerImg {
  width: 100%;
  height: 50vh;
}

/*Estilização do nav*/
.categoriasImg {
  width: 100px;
  height: 100px;
}
.categoriasImg:hover {
  transform: translateY(-10px);
  transition: 0.5s;
}
.categoriasLi {
  background: var(--colorGraylight);
}
.categoriasLi:hover {
  background: var(--colorBlue);
  transition: 0.3s;
}

/*Estilização login*/

.linksLogin:hover {
  text-decoration: underline;
  color: var(--colorBlue);
  transition: 0.2s;
}

.inputsAll::placeholder {
  color: var(--colorBlue);
}

.inputsAll {
  border: 1px solid var(--colorBlue);
  color: var(--colorWhite);
}

.btnCad {
  background: var(--colorGrayDark);
  border: 2px solid var(--colorGraylight);
  color: var(--colorWhite);
}

.btnCad:hover {
  background: var(--colorWhite);
  border: 2px solid var(--colorWhite);
  color: var(--colorBlue);
  transition: 1s;
}

/*Estilização dos cards*/
.animate__animated.animate__fadeInUp {
  --animate-duration: 2s;
}
.card {
  background-color: var(--colorGraylight);
  color: var(--colorBlack);
  border: 1px solid var(--colorBlack);
  width: 350px;
  box-shadow: -4px 5px 5px rgba(0, 0, 0, 0.274);
}
.card-body {
  width: 350px;
  height: 250px;
}
.card-img-top {
  height: 200px;
}
.badge {
  background-color: var(--colorGrayDark) !important;
  color: var(--colorBlue);
}
.cardBtn {
  border: 1px solid var(--colorBlue);
  color: #0d6efd;
  font-weight: bold;
}
.cardBtn:hover {
  color: var(--colorBlack);
  background-image: linear-gradient(
    to right,
    var(--colorBlue),
    var(--colorGrayDark)
  );
  font-weight: bold;
  transition: 0.9s;
  border: none;
}

/*MEDIA QUERYS*/
@media screen and (min-width: 768px) {
  #busca {
    width: 100% !important;
  }
  #formularioLogin,
  #formularioCadastro,
  #formularioCadastroProduto {
    width: 50% !important;
  }
}
